* {
  margin: 0;
}

p {
  font-size: 18px;
  font-family: 'Outfit', sans-serif;
}

body {
  background-color: hsl(217, 54%, 11%);
}
.container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.card {
  background-color: hsl(216, 50%, 16%);
  width: 300px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  padding: 20px;
}

.image {
  display: flex;
  flex-direction: column;
  position: relative;
}

.portada {
  border-radius: 20px;
  align-self: center;
  max-width: 100%;
  max-height: 100%;
}

.overlay {
  position: absolute;
  border-radius: 20px;
  opacity: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
  background-color: hsl(0, 0%, 50%);
  transition: 0.3s ease;
}

.image:hover .overlay {
  opacity: 0.5;
}

.icon {
  color: white;
  font-size: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.title {
  font-family: 'Outfit', sans-serif;
  color: hsl(0, 0%, 100%);
  font-weight: 600;
  padding: 20px 0px 20px 0px;
}

.title:hover {
  color: hsl(178, 100%, 50%);
}

.description {
  color: hsl(0, 0%, 70%);
  font-weight: 300;
  padding: 0px 0px 20px 0px;
}

.info {
  display: flex;
  justify-content: space-between;
}

.crypto {
  display: flex;
  margin-bottom: 5px;
  gap: 5px;
}
.crypto div {
  padding: 3px;
}
.crypto p {
  color: hsl(178, 100%, 50%);
  font-weight: 400;
}

.clock {
  display: flex;
  margin-bottom: 5px;
  gap: 5px;
}
.clock div {
  padding: 3px;
}

.clock p {
  color: hsl(0, 0%, 70%);
  font-weight: 300;
}

.avatar {
  display: flex;
  margin: 20px;
}

.avatar img {
  width: 35px;
  border: 2px solid;
  border-radius: 50%;
  border-color: hsl(0, 0%, 100%);
}

.avatar p {
  color: hsl(0, 0%, 70%);
  margin-left: 15px;
  align-self: center;
  font-size: 14px;
}

.mati {
  font-family: 'Outfit', sans-serif;
  color: hsl(0, 0%, 100%);
  font-size: 14px;
}

.mati:hover {
  color: hsl(178, 100%, 50%);
}

.attribution {
  font-family: 'Outfit', sans-serif;
  margin: 100px;
  color: hsl(0, 0%, 70%);
  text-align: center;
}

.attribution:active {
  color: green;
}
